# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\studia3rok\praktykaProgramowania\cwJavaFx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
